div.container-fluid {
    padding: 50px 10px 0;
}

div#graph {
    border: 2px solid #7CBCE8;
    height: 600px;
}

div#left-column {
    padding: 40px;
}

.row {
    padding: 10px 20px;
}

input {
    width: 100%;
}


.last-row {
    margin-top: 35px;
}
